.products > div {
  /* max-width: 15rem; */
}
.product {
  /* overflow: hidden; */
  /* margin: 2.5px; */
  background-color: white;
  border-radius: 7px;
  padding: 0.5rem;
  /* width: 100%; */
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.product:hover {
  background-color: rgb(235, 235, 235);
}

.product .productImg {
  border-radius: 7px;
  overflow: hidden;
}
.product:hover .productImage {
  transform: scale(1.1);
}

.productImage {
  transition: 0.3s;
  width: 100%;
  aspect-ratio: 1/1;
}

.productInfo h5 {
  margin-top: 0.5rem;
  font-weight: bold;
  /* font-size: larger; */
}

.product .btns {
  margin-top: 0.5rem;
  display: flex;
  gap: 3px;
}

.product .btns button:first-child {
  width: 100%;
  background-color: blueviolet !important;
}
.product .btns button {
  background-color: gray;
  color: white;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  /* background-color: cyan; */
  /* padding: 0.5rem 1rem; */
  padding: 0.375rem 0.75rem;
}

.product-price {
  margin-top: 0.3rem;
  color: blue;
  font-weight: 900;
}

.btn:hover {
  filter: brightness(90%);
}
