.container {
  padding-inline: 0.5rem;
}

.header {
  background-color: #fff;
}
.searchInput {
  background-color: #eeeeee;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  margin-inline: 0.25rem;
  height: 3rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
}
.searchInput button {
  aspect-ratio: 1/1;
  outline: none;
  border: none;
  background: none !important;
  /* font-size: large; */
}
.searchInput input {
  /* font-weight: bold; */
  font-size: large;
  background: none !important;
  width: 100%;
  padding-right: 1rem;
  text-transform: capitalize;
  border: none;
  outline: none;
}

/* ==================================================== */
.categories {
  margin-top: 1.5rem;
  display: flex;
  overflow-x: auto;
  gap: 0.3rem;
}
.categories::-webkit-scrollbar {
  visibility: hidden;
}
/* .categories button {
  border-radius: 0.2rem;
  padding: 0.375rem 0.75rem;
  background-color: rgba(137, 43, 226, 0.1);
  border: 1px solid blueviolet;
  outline: none;
  transition: 250ms;
} */

.categories button:hover {
  background-color: rgba(137, 43, 226, 0.3);
}
.categories button.active {
  background-color: blueviolet;
  color: white;
}

/* ========================================= */
.products {
  margin-top: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr)) !important;
}
